{% extends "pool/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-8">
				<form action="{%url 'pool-post'%}?id={{id}}" method="post">
				    {% csrf_token %}
				    {% for form in forms %}
				    	{{ form }}
				    {%endfor%}
				    <input class='btn btn-sm btn-primary' type="submit" value="Submit">
				    <a class="btn btn-sm btn-secondary" href="{% url 'pool-home' %}" role="button">Cancel</a>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</main>

{% endblock content %}