{% extends "pool/base.html" %}
{% block content %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-4">
				<form action="{%url 'pool-postpicks'%}" method="post">
				    {% csrf_token %}
				    {{ formset.management_form }}
				    <table class='table table-sm' style="background-color: white">
				    	<tr class="thead-light text-center">
				    		<th></th>
				    		<th class='text-left'>Favourite</th>
				    		<th>Spread</th>
				    		<th class='text-right'>Underdog</th>
				    	</tr>
				    {% for form in formset %}
				    	{{ form }}
				    {%endfor%}
					</table>
				    <input class='btn btn-sm btn-primary' type="submit" value="Submit">
				    <a class="btn btn-sm btn-secondary" href="{% url 'pool-home' %}" role="button">Cancel</a>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</main>

{% endblock content %}