{% extends "pool/base.html" %}
{% block content %}

	<main role="main" class="container">

		<div class="row">
			<div class="col-6">
				<h2>Game Administration</h2>
		    </div>
		</div>

		<div class="row">
			<div class="col-7">
				<pre>
					{{game_text}}
				</pre>
				<form action="{%url 'pool-game'%}?w={{week_number}}&g={{game_number}}" method="post">
					{% csrf_token %}
					{{form.week_number}}
					{{form.game_number}}
					{{form.game_date}}

					<div class='text-right'>
						<a class="btn btn-secondary" href="{%url 'pool-games'%}?w={{week_number}}" role="button">Cancel</a>
						<input class='btn btn-primary' type="submit" value="Submit">
					</div>

				</form>
			</div>
		</div>

{% endblock content %}