{% extends "pool/base.html" %}
{% block content %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-auto">
				<h4>Week {{week_number}}</h4>
				<h5>Next Game: {{next_game}}</h5>
			</div>
		</div>
		<div class='row'>
			<div class="col-md">
				<img class="img-fluid" src="http://www.tammer.com/Chimp-352-570x270.jpg">
				<br><br>
				<h5>
					{{first_blog_date}}
					{% if is_superuser == True %}<a class="btn btn-sm btn-primary" href="{% url 'pool-blog' %}?edit=true" role="button">Edit</a>{% endif %}
				</h5>
				<p style='white-space: pre-wrap'>{{first_blog}}</p>
				<small>
				{% for k,v in rest_of_blog %}
					<h6>{{k}}</h6>
					<p style='white-space: pre-wrap'>{{v}}</p>
				{% endfor %}
				</small>
			</div>
			<div class="col-md-auto">
				<div class='text-center'>Week {{week_number}}</div>
				{% include "./standings_snippet.html" %}
			</div>
			<div class="col-md-auto">
				<div class='text-center'>Overall</div>
				<table class="table table-sm" style="background-color: white">
					<tr class="thead-light">
						<th class='text-left'>Player</th><th class='text-right'>Score</th>
					</tr>
					{% for k,v in overall %}
						{% if player == k%}
							<tr style='background:#D5F5E3'>
						{% else %}
							<tr style=''>
						{% endif %}
								<td>{{k}}</td>
								<td class='text-right'>{{v}}</td>
							</tr>
					{% endfor %}
				</table>




			</div>
		</div>
	</main>
{% endblock content %}