{% extends "pool/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-sm">
				<h2>Accounting</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-auto">
				<table class="table table-sm" style="background-color: white">
					<tr class="thead-light text-center">
						<th colspan=2>Leader board</th>
					</tr>
					<tr>
						<th>Player</th><th class='text-right'>Balance</th>
					</tr>
					{% for item in table %}
						{% if item.0 == player%}
							{% if item.1.0 == '-' %}
								<tr style='background:#F5B7B1 '>
							{% else %}
								<tr style='background:#D5F5E3'>
							{% endif %}
						{% else %}
							<tr>
						{% endif %}
								<td>
									{% if is_superuser %}
										<a href="{% url 'pool-money' %}?p={{item.0}}">{{item.0}}</a>
									{% else %}
										{{item.0}}
									{% endif %}
								</td>
								<td class='text-right'>
									${{item.1}}
								</td>
							</tr>
					{% endfor %}
				</table>
			</div>	


			<div class="col-md-auto">
				<table class="table table-sm table-bordered" style="background-color: white">
					<tr class="thead-light text-center">
						<th colspan=3>{{player}}'s Account</th>
					</tr><tr class='text-center'>
						<th>Date</th><th class='text-right'>Amount</th><th>Note</th>
					</tr>
					{% for item in table2 %}
					<tr>
						<td>{{item.0}}</td>
						<td class='text-right'>${{item.1}}</td>
						<td class='text-center'><i>{{item.2}}</i></td>
					</tr>
					{% endfor %}
				</table>
				{% if is_superuser %}
					<table class="table table-sm" style="background-color: white">
						<tr class="thead-light text-center">
							<th>Account Management</th>
						</tr>
						<tr>
							<td>Use the form below to add money to a player's account.</td>
						</tr>
						<tr><td>
						<form action="{%url 'pool-deposit'%}" method="post">
						    {% csrf_token %}
						    {{ form|crispy }}
						    <input type="submit" value="Submit">
						</form>
					</td></tr>
					</table>
				{% endif %}
			</div>

			<div class="col">
				<img class="img-fluid" src="http://www.tammer.com/pool/images/koko.jpg">
			</div>


		</div>
	</main>


	



{% endblock content %}