{% with id=widget.attrs.id %}

		<input type="{{ widget.optgroups.0.1.0.type }}" name="{{ widget.optgroups.0.1.0.name }}{{widget.attrs.game_number}}"{% if widget.optgroups.0.1.0.value != None %} value="{{ widget.optgroups.0.1.0.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
	    			{{ widget.optgroups.0.1.0.label }} vs
	    			{{ widget.optgroups.1.1.0.label }}
	    <input type="{{ widget.optgroups.1.1.0.type }}" name="{{ widget.optgroups.1.1.0.name }}{{widget.attrs.game_number}}"{% if widget.optgroups.1.1.0.value != None %} value="{{ widget.optgroups.1.1.0.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
	    			


{% endwith %}

