{% extends "pool/base.html" %}
{% block content %}

	<main role="main" class="container">

		<div class="row">
			<div class="col-sm">
      			<h2>
      				Week {{week_number}}
      			</h2>
      			<p class='text-muted'>HOME TEAM in caps.</p>
      			<br>
		    </div>
		</div>

		<form action="{%url 'pool-spreads'%}?w={{week_number}}" method="post">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
				{{form.fav}}
				{{ form }}
				{{form.udog}}
				<br>
			{%endfor%}
			<input class='btn btn-primary' type="submit" value="Submit">
		</form>

{% endblock content %}