{% extends "pool/base.html" %}
{% block content %}

	<main role="main" class="container">

		<div class="row">
			<div class="col-sm">
      			<h2>
      				Week {{week_number}}
      			</h2>
      			<p class='text-muted'>HOME TEAM in caps.</p>
      			<br>
		    </div>
		</div>

		<div class="row">
			<div class="col-5">
				<form action="{%url 'pool-spreads'%}?w={{week_number}}" method="post">
					{% csrf_token %}
					{{ formset.management_form }}

					<table class='table table-sm' style="background-color: white">
						{% for form in formset %}
							<tr>
								<td>{{form.fav}}</td>
								<td>{{ form.as_p }}</td>
								<td>{{form.udog}}</td>
							</tr>
						{%endfor%}
					</table>

					<input class='btn btn-primary' type="submit" value="Submit">
				</form>
			</div>
		</div>

{% endblock content %}