{% extends "pool/base.html" %}

<main role="main" class="container"><div class="row "><div class="col-md-auto ">


    <h1>{{ title }}</h1>
    {% block content %}

    {% if validlink %}

    <form method="post">{% csrf_token %}
        <table class='table-sm'>
            <tr>
                <td class='text-right'><label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td><label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td colspan=2 class='text-right'><input class='btn btn-primary' type="submit" value="Set Password"></td>
            </tr>
            <tr>
                <td colspan=2>
                <div class="alert-warning">
                    <style type="text/css">ul li::marker {font-size: 0em;}</style>
                    <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -3em;">
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </ul>
                </div>
                </td>
            </tr>
        </table>
    </form>

    {% else %}

    <h5>The password reset link was invalid, possibly because it has already been used.</h5>
    <h6>Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</h6>

    {% endif %}

</div></div></main>

{% endblock %}
