{% extends "pool/base.html" %}
{% block content %}

<form method="post">{% csrf_token %}

<main role="main" class="container">
	<div class="row ">
		<div class="col-md-auto	">
			<h1>Reset Password</h1>
			<p>Enter the email address associated with the pool. A reset password link will be emailed to you.</p>
			<div>
        		{{ form.email.errors }}
        			<label for="id_email">Email address:</label>
        		{{ form.email }}
    			<input class='btn btn-warning' type="submit" value="Reset Password">
    		</div>
    	</div>
    </div>
</main>

</form>

{% endblock content %}